openapi: 3.0.0
info:
  version: 2.0.0
  title: Aatrox Communication SMS RESTful API
  description: >
    Welcome to the Aatrox Communication SMS API! This documentation covers all endpoints needed to send, receive, and manage SMS messages reliably. Integrate into your applications and enjoy robust features such as disclaimer appending, message content storage toggling, and more.
servers:
  - url: 'https://api.smsaatrox.com.au'
    description: V2 Server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
paths:
  /api/v2/sms/send:
    post:
      summary: Send SMS
      description: >
        Send a text message quickly and securely. Provide the sender, recipient, and message content, and we’ll deliver your SMS reliably.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Your phone number, which appears as the sender.
                to:
                  type: string
                  description: The recipient's phone number.
                text:
                  type: string
                  description: The message you want to send.
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: Your SMS was sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of your SMS request.
                  message:
                    type: string
                    description: A confirmation message.
                  messageId:
                    type: string
                    description: The unique ID for your sent message.
        '400':
          description: There was a problem with your request. Please check your input.
        '401':
          description: Your authentication is not valid. Please try again.
        '500':
          description: An error occurred on our server.

  /api/v2/sms/send/disclaimer:
    post:
      summary: Send SMS with Disclaimer
      description: >
        Send your text message along with an automatically appended disclaimer. We fetch the appropriate disclaimer based on the sender’s phone number and attach it to your message before sending.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: The sender's phone number.
                to:
                  type: string
                  description: The recipient's phone number.
                text:
                  type: string
                  description: The main content of your message (the disclaimer will be added automatically).
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: Your SMS with the disclaimer has been sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The current status of your SMS request.
                  message:
                    type: string
                    description: A confirmation message.
        '400':
          description: We could not process your request. Please verify your input.
        '401':
          description: Authentication failed. Please check your credentials.
        '500':
          description: An unexpected error occurred on our end.

  /api/v2/sms/send/Enablecontent:
    post:
      summary: Enable Request-Body Storage
      description: >
        Enable this feature to store your text message content in a dedicated database. Once enabled for your phone number, every SMS sent via our endpoints will be securely retained in this separate storage. By default, all messages are deleted on December 31 of each year unless extended retention is specifically requested.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: The phone number for which you want to enable message storage.
              required:
                - from
      responses:
        '200':
          description: Message storage has been enabled for your account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The current status of your request.
                  message:
                    type: string
                    description: A confirmation that storage has been enabled.
        '400':
          description: Your request was invalid. Please check your input.
        '401':
          description: You are not authorized to perform this action.
        '500':
          description: A server error occurred. Please try again later.

  /api/v2/sms/send/DisableContent:
    post:
      summary: Disable Request-Body Storage
      description: >
        Disable the storage of your text message content. After disabling, messages sent from your phone number will no longer be stored in our database.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: The phone number for which you want to disable message storage.
              required:
                - from
      responses:
        '200':
          description: Message storage has been disabled for your account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The current status of your request.
                  message:
                    type: string
                    description: A confirmation that storage has been disabled.
        '400':
          description: We could not process your request. Please check your input.
        '401':
          description: Your authentication failed. Please verify your credentials.
        '500':
          description: An error occurred on our server.

  /api/v2/sms/send/exportcsv:
    post:
      summary: Export Stored SMS Content as Excel (SpreadsheetML)
      description: >
        Export all stored SMS content as an Excel file (in SpreadsheetML format). Provide your phone number (with storage enabled) and the email address where you want the export to be sent. We'll handle the file creation and emailing process for you.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Your phone number (with content storage enabled).
                email:
                  type: string
                  description: The email address where the Excel export should be sent.
              required:
                - from
                - email
      responses:
        '200':
          description: The export was successful and the Excel file has been emailed to you.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The current status of your export request.
                  message:
                    type: string
                    description: A confirmation message.
        '400':
          description: There was an issue with your request. Please verify the information provided.
        '401':
          description: You are not authorized to perform this action.
        '500':
          description: An unexpected error occurred on our server.

  /api/v2/sms/receive:
    get:
      summary: Receive SMS
      description: >
        Retrieve incoming text messages for the specified recipient. Use your phone number to quickly check all messages sent to you, and optionally filter by sender.
      tags:
        - SMS
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: to
          schema:
            type: string
          required: true
          description: The recipient's phone number.
        - in: query
          name: from
          schema:
            type: string
          required: false
          description: (Optional) The sender's phone number to filter messages.
      responses:
        '200':
          description: Your messages have been retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of your retrieval request.
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                          description: The sender's phone number.
                        to:
                          type: string
                          description: Your phone number.
                        text:
                          type: string
                          description: The message content.
                        timestamp:
                          type: string
                          format: date-time
                          description: The date and time when the message was received.
        '400':
          description: There was a problem with your request parameters.
        '401':
          description: Your authentication is not valid.
        '500':
          description: An error occurred on our server.

  /api/v2/sms/{id}:
    get:
      summary: Retrieve SMS Details
      description: >
        Get detailed information about a specific text message by using its unique message ID. This helps you track delivery details and timing.
      tags:
        - SMS
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The unique message ID for which you want to see the details.
          schema:
            type: string
      responses:
        '200':
          description: Details for your requested message have been successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  to_addr:
                    type: string
                    description: The recipient's phone number.
                  from_addr:
                    type: string
                    description: The sender's phone number.
                  unicode:
                    type: boolean
                    description: Indicates if the message used Unicode characters.
                  created_at:
                    type: string
                    format: date-time
                    description: The time when the message was created.
                  status:
                    type: string
                    description: The current delivery status of the message.
                  status_at:
                    type: string
                    format: date-time
                    description: The time when the status was last updated.
                  segment_count:
                    type: integer
                    description: The number of SMS segments used.
        '400':
          description: There was a problem with your request. Please verify the message ID.
        '401':
          description: Your authentication is not valid.
        '500':
          description: An error occurred while retrieving the message details.

  /api/v2/sms/info/{number}:
    get:
      summary: Retrieve Message IDs and Timestamps
      description: >
        Retrieve a list of all your sent message IDs along with the date and time they were sent. Simply provide your phone number, and we'll return the details in a clear, organized list.
      tags:
        - SMS
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: number
          required: true
          description: Your phone number for which you want the message history.
          schema:
            type: string
      responses:
        '200':
          description: The list of message IDs, dates, and times has been successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    messageid:
                      type: string
                      description: The unique ID of the message.
                    date:
                      type: string
                      description: The date when the message was sent (e.g., "17/12/2024").
                    time:
                      type: string
                      description: The time when the message was sent, including the timezone (e.g., "11:03 am (AEDT)").
        '400':
          description: Your request parameters appear to be incorrect.
        '401':
          description: You are not authorized to access this information.
        '500':
          description: An error occurred while retrieving your message history.

  /api/v2/sms/send/bulk:
    post:
      summary: Send Bulk SMS
      description: >
        Send a text message to multiple recipients in one request. Provide a sender phone number, a list of recipient phone numbers (either as an array or a comma-separated string), and the message content. The API will send the SMS to each recipient and return individual status results.
      tags:
        - SMS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: The sender's phone number.
                to:
                  oneOf:
                    - type: array
                      items:
                        type: string
                      description: An array of recipient phone numbers.
                    - type: string
                      description: A comma-separated list of recipient phone numbers.
                text:
                  type: string
                  description: The message content to send.
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: The bulk SMS request has been processed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The overall status of the bulk request.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        to:
                          type: string
                          description: The recipient phone number.
                        status:
                          type: string
                          description: The status for that recipient.
                        messageId:
                          type: string
                          description: The unique message identifier (if successful).
                        error:
                          type: string
                          description: Error message (if failed).
        '400':
          description: There was an issue with your request. Please verify the input data.
        '401':
          description: Your authentication failed. Please check your credentials.
        '500':
          description: An error occurred on our server.
