openapi: 3.0.0
info:
  version: 2.0.0
  title: Aatrox Communication SMS RESTful API
  description: RESTful API Documentation for SMS Aatrox Communications
servers:
  - url: 'https://send.smsaatrox.com.au'
    description: Send SMS API V1
  - url: 'https://receive.smsaatrox.com.au'
    description: Receive SMS API V1
  - url: 'https://api.smsaatrox.com.au'
    description: V2 API
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
paths:
  /api/v1:
    post:
      summary: Send SMS
      description: Send an SMS using the SMS Aatrox API
      tags:
        - V1
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number
                to:
                  type: string
                  description: Recipient phone number
                text:
                  type: string
                  description: Message content
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: SMS Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  messageId:
                    type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
    get:
      summary: Receive SMS
      description: Retrieve SMS messages sent to the specified recipient.
      tags:
        - V1
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: to
          schema:
            type: string
          required: true
          description: Recipient phone number
        - in: query
          name: from
          schema:
            type: string
          required: false
          description: Sender phone number (optional)
      responses:
        '200':
          description: SMS Retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the retrieval request
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                        text:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  /api/v2/sms/send:
    post:
      summary: Send SMS (V2)
      description: Send an SMS using the V2 SMS Aatrox API
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number
                to:
                  type: string
                  description: Recipient phone number
                text:
                  type: string
                  description: Message content
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: SMS Sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  messageId:
                    type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  /api/v2/sms/receive:
    get:
      summary: Receive SMS (V2)
      description: Retrieve SMS messages sent to the specified recipient using V2.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: to
          schema:
            type: string
          required: true
          description: Recipient phone number
        - in: query
          name: from
          schema:
            type: string
          required: false
          description: Sender phone number (optional)
      responses:
        '200':
          description: SMS Retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the retrieval request
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                        text:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
  /api/v2/sms/{id}:
    get:
      summary: Retrieve SMS Details (V2)
      description: Retrieve detailed information about a specific SMS message by its ID.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The message ID to retrieve details for
          schema:
            type: string
      responses:
        '200':
          description: SMS Details Retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  to_addr:
                    type: string
                    description: Recipient phone number
                  from_addr:
                    type: string
                    description: Sender phone number
                  unicode:
                    type: boolean
                    description: Indicates if unicode was used
                  created_at:
                    type: string
                    format: date-time
                    description: Time when the message was created
                  status:
                    type: string
                    description: Delivery status of the message
                  status_at:
                    type: string
                    format: date-time
                    description: Time when the status was recorded
                  segment_count:
                    type: integer
                    description: Number of SMS segments used
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
