openapi: 3.0.0
info:
  version: 1.0.3
  title: Aatrox Communication SMS RESTful API
  description: RESTful API Documentation for SMS Aatrox Communications
servers:
  - url: 'https://send.smsaatrox.com.au'
    description: Send SMS API V1
  - url: 'https://receive.smsaatrox.com.au'
    description: Receive SMS API V1
  - url: 'https://api.smsaatrox.com.au'
    description: API V2
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    BasicAuth:
      type: http
      scheme: basic
paths:
  /api/v1:
    post:
      summary: Send SMS
      description: Send an SMS using the SMS Aatrox API.
      tags:
        - V1
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number.
                to:
                  type: string
                  description: Recipient phone number.
                text:
                  type: string
                  description: Message content.
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: SMS Sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  messageId:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/send:
    post:
      summary: Send SMS (V2)
      description: Send an SMS using the V2 SMS Aatrox API.
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number.
                to:
                  type: string
                  description: Recipient phone number.
                text:
                  type: string
                  description: Message content.
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: SMS Sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  messageId:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/send/disclaimer:
    post:
      summary: Send SMS with Disclaimer
      description: >
        Send an SMS that includes a disclaimer. The disclaimer text is retrieved from a key-value store
        based on the sender's phone number and appended to the SMS message.
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number.
                to:
                  type: string
                  description: Recipient phone number.
                text:
                  type: string
                  description: Message content before the disclaimer is appended.
              required:
                - from
                - to
                - text
      responses:
        '200':
          description: SMS Sent with Disclaimer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/send/Enablecontent:
    post:
      summary: Enable Request-Body Storage
      description: >
        Enable storing the SMS request body (specifically the text content) in the database for the sender's phone number.
        Once enabled, any SMS sent using the /api/v2/sms/send or /api/v2/sms/send/disclaimer endpoints will have their text stored.
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number to enable content storage for.
              required:
                - from
      responses:
        '200':
          description: Request-Body Storage Enabled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/send/DisableContent:
    post:
      summary: Disable Request-Body Storage
      description: >
        Disable storing the SMS request body for the sender's phone number.
        Once disabled, SMS requests will no longer be stored in the database.
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number to disable content storage for.
              required:
                - from
      responses:
        '200':
          description: Request-Body Storage Disabled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/send/exportcsv:
    post:
      summary: Export Stored SMS Content as Excel (XML)
      description: >
        Export stored SMS content from the database as an Excel (SpreadsheetML) file and email it via SMTP2GO.
        The request requires the sender's phone number (with content storage enabled) and a recipient email address.
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Sender phone number for which content storage is enabled.
                email:
                  type: string
                  description: Recipient email address to send the Excel export.
              required:
                - from
                - email
      responses:
        '200':
          description: Excel export email sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/receive:
    get:
      summary: Receive SMS (V2)
      description: Retrieve SMS messages sent to the specified recipient using V2.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: to
          schema:
            type: string
          required: true
          description: Recipient phone number.
        - in: query
          name: from
          schema:
            type: string
          required: false
          description: Sender phone number (optional).
      responses:
        '200':
          description: SMS Retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the retrieval request.
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        from:
                          type: string
                        to:
                          type: string
                        text:
                          type: string
                        timestamp:
                          type: string
                          format: date-time
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/{id}:
    get:
      summary: Retrieve SMS Details (V2)
      description: Retrieve detailed information about a specific SMS message by its ID.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The message ID to retrieve details for.
          schema:
            type: string
      responses:
        '200':
          description: SMS Details Retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  to_addr:
                    type: string
                    description: Recipient phone number.
                  from_addr:
                    type: string
                    description: Sender phone number.
                  unicode:
                    type: boolean
                    description: Indicates if unicode was used.
                  created_at:
                    type: string
                    format: date-time
                    description: Time when the message was created.
                  status:
                    type: string
                    description: Delivery status of the message.
                  status_at:
                    type: string
                    format: date-time
                    description: Time when the status was recorded.
                  segment_count:
                    type: integer
                    description: Number of SMS segments used.
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/sms/info/{number}:
    get:
      summary: Retrieve Message IDs and Timestamps (V2)
      description: |
        Retrieve all stored message IDs along with the corresponding date and time when the messages were sent for a specific phone number.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: number
          required: true
          description: The phone number to retrieve message IDs for.
          schema:
            type: string
      responses:
        '200':
          description: List of Message IDs with Dates and Times.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    messageid:
                      type: string
                      description: Unique message ID.
                    date:
                      type: string
                      description: Date the message was sent (e.g., "17/12/2024").
                    time:
                      type: string
                      description: Time the message was sent, including timezone (e.g., "11:03 am (AEDT)").
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/otp/generate:
    post:
      summary: Generate OTP (V2)
      description: Generate a one-time password (OTP) and send it via SMS.
      tags:
        - V2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: Phone number to send the OTP to.
              required:
                - phone
      responses:
        '200':
          description: OTP generated and sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/otp/verify:
    get:
      summary: Verify OTP (V2)
      description: Verify the one-time password (OTP) for a given phone number.
      tags:
        - V2
      parameters:
        - in: query
          name: phone
          schema:
            type: string
          required: true
          description: Phone number for which the OTP was generated.
        - in: query
          name: otp
          schema:
            type: string
          required: true
          description: The OTP to verify.
      responses:
        '200':
          description: OTP verified successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request - Invalid or expired OTP.
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
  /api/v2/makecall:
    post:
      summary: Initiate a Call (Make Call API)
      description: >
        Initiate a phone call using the 3CX API.
        **Authentication:** This endpoint uses Basic Authentication and requires a valid API username and password from 3CX.
        **Required Fields:** The request body must include the FQDN (Fully Qualified Domain Name) and EXT (Extension) for the call.
      tags:
        - V2
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for the call initiation.
                destination:
                  type: string
                  description: Destination phone number to call.
                FQDN:
                  type: string
                  description: Fully Qualified Domain Name for the 3CX API.
                EXT:
                  type: string
                  description: Extension number for the call.
                timeout:
                  type: integer
                  description: Timeout duration in seconds.
              required:
                - reason
                - destination
                - FQDN
                - EXT
                - timeout
      responses:
        '200':
          description: Call initiated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Bad Request - Missing or invalid parameters.
        '401':
          description: Unauthorized - Invalid API credentials.
        '500':
          description: Internal Server Error.
