openapi: 3.0.0
info:
  version: 1.0.4
  title: Aatrox Communication SMS RESTful API
  description: RESTful API Documentation for SMS Aatrox Communications
servers:
  - url: 'https://send.smsaatrox.com.au'
    description: Send SMS API V1
  - url: 'https://receive.smsaatrox.com.au'
    description: Receive SMS API V1
  - url: 'https://api.smsaatrox.com.au'
    description: API V2
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    SmsSendRequest:
      type: object
      properties:
        from:
          type: string
          description: Sender phone number in E.164 format (e.g., "+61480013822")
        to:
          type: string
          description: Recipient phone number in E.164 format (e.g., "+61412345678")
        text:
          type: string
          description: Message content
      required:
        - from
        - to
        - text
    SmsSendResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the SMS sending request (e.g., "success")
        message:
          type: string
          description: Description message
        messageId:
          type: string
          description: Unique identifier for the sent message
    SmsReceiveResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the retrieval request (e.g., "success")
        messages:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
                description: Sender phone number
              to:
                type: string
                description: Recipient phone number
              text:
                type: string
                description: Message content
              timestamp:
                type: string
                format: date-time
                description: Time when the message was received
    SmsDetailResponse:
      type: object
      properties:
        to_addr:
          type: string
          description: Recipient phone number
        from_addr:
          type: string
          description: Sender phone number
        unicode:
          type: boolean
          description: Indicates if Unicode was used
        created_at:
          type: string
          format: date-time
          description: Time when the message was created
        status:
          type: string
          description: Delivery status of the message
        status_at:
          type: string
          format: date-time
          description: Time when the status was recorded
        segment_count:
          type: integer
          description: Number of SMS segments used
    MessageInfo:
      type: object
      properties:
        messageid:
          type: string
          description: Unique message ID
        date:
          type: string
          description: Date the message was sent (e.g., "17/12/2024")
        time:
          type: string
          description: Time the message was sent, including timezone (e.g., "11:03 am (AEDT)")
    OtpGenerateRequest:
      type: object
      properties:
        phone:
          type: string
          description: Recipient phone number in E.164 format (e.g., "+61412345678")
      required:
        - phone
    OtpGenerateResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the OTP generation request (e.g., "success")
        message:
          type: string
          description: Description message
    OtpVerifyResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the OTP verification (e.g., "success" or "failure")
        message:
          type: string
          description: Description message

paths:
  /api/v1:
    post:
      summary: Send SMS
      description: Send an SMS using the SMS Aatrox API
      tags:
        - V1
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
      responses:
        '200':
          description: SMS Sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsSendResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v2/sms/send:
    post:
      summary: Send SMS (V2)
      description: Send an SMS using the V2 SMS Aatrox API
      tags:
        - V2
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
      responses:
        '200':
          description: SMS Sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsSendResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v2/sms/receive:
    get:
      summary: Receive SMS (V2)
      description: Retrieve SMS messages sent to the specified recipient using V2.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: to
          schema:
            type: string
          required: true
          description: Recipient phone number in E.164 format
        - in: query
          name: from
          schema:
            type: string
          required: false
          description: Sender phone number in E.164 format (optional)
      responses:
        '200':
          description: SMS Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsReceiveResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v2/sms/{id}:
    get:
      summary: Retrieve SMS Details (V2)
      description: Retrieve detailed information about a specific SMS message by its ID.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The message ID to retrieve details for
          schema:
            type: string
      responses:
        '200':
          description: SMS Details Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsDetailResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v2/sms/info/{number}:
    get:
      summary: Retrieve Message IDs and Timestamps (V2)
      description: |
        Retrieve all stored `messageid` values along with the corresponding `date` and `time` 
        when the messages were sent for a specific phone number. 

        Messages are stored from **January 1st** to **December 31st** of the current year.
      tags:
        - V2
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: number
          required: true
          description: The phone number to retrieve message IDs for in E.164 format
          schema:
            type: string
      responses:
        '200':
          description: List of Message IDs with Dates and Times
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageInfo'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /api/v2/otp/generate:
    post:
      summary: Generate OTP
      description: Generate and send a One-Time Password (OTP) to a specified phone number.
      tags:
        - OTP
      security:
        - BearerAuth: [] # Optional: Remove if OTP generation does not require client authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpGenerateRequest'
      responses:
        '200':
          description: OTP Generated and Sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpGenerateResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '502':
          description: Failed to send OTP SMS
        '500':
          description: Internal Server Error

  /api/v2/otp/verify:
    get:
      summary: Verify OTP
      description: Verify the One-Time Password (OTP) provided by the user.
      tags:
        - OTP
      security:
        - BearerAuth: [] # Optional: Remove if OTP verification does not require client authentication
      parameters:
        - in: query
          name: phone
          required: true
          description: Phone number in E.164 format associated with the OTP
          schema:
            type: string
        - in: query
          name: otp
          required: true
          description: The OTP code to verify
          schema:
            type: string
      responses:
        '200':
          description: OTP Verified Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpVerifyResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: OTP Not Found
        '500':
          description: Internal Server Error
